/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

#gameInfo {
  width: 100%;
}

.inner
{
  display: inline-block;
}

.button {
  /*Step 2: Basic Button Styles*/
  display: block;
  height: 50px;
  width: 150px;
  background: #1c38ff;
  border: 2px solid #1c38ff;

  /*Step 3: Text Styles*/
  color: rgba(235, 235, 235);
  text-align: center;
  font: bold 1.6em/50px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;

  -webkit-border-radius: 50px;
  -khtml-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;

  -webkit-box-shadow: 0 8px 0 #000099;
  -moz-box-shadow: 0 8px 0 #000099;
  box-shadow: 0 8px 0 #000099;
}

/*Step 5: Hover Styles*/
.button:hover {
  background: #3333cc;
  border: 2px solid #3333cc;
}

/*Step 5: Hover Styles*/
.button:active {
  background: #3333cc;
  border: 2px solid #3333cc;
  -webkit-box-shadow: 0 4px 0 #1b383b;
  -moz-box-shadow: 0 4px 0 #1b383b;
  box-shadow: 0 4px 0 #1b383b;
  position: relative;
  top: 4px;
}

.button2 {
  /*Step 2: Basic Button Styles*/
  display: block;
  height: 25px;
  width: 75px;
  background: #1c38ff;
  border: 1px solid #1c38ff;

  /*Step 3: Text Styles*/
  color: rgba(235, 235, 235);
  text-align: center;
  font: bold 0.8em/25px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;

  -webkit-border-radius: 25px;
  -khtml-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;

  -webkit-box-shadow: 0 4px 0 #000099;
  -moz-box-shadow: 0 4px 0 #000099;
  box-shadow: 0 4px 0 #000099;
}

/*Step 5: Hover Styles*/
.button2:hover {
  background: #3333cc;
  border: 1px solid #3333cc;
}

/*Step 5: Hover Styles*/
.button2:active {
  background: #3333cc;
  border: 1px solid #3333cc;
  -webkit-box-shadow: 0 2px 0 #1b383b;
  -moz-box-shadow: 0 2px 0 #1b383b;
  box-shadow: 0 2px 0 #1b383b;
  position: relative;
  top: 2px;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  width: 50%;
  height: 14px;
  border-radius: 8px;
  background: #d3d3d3;
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 0.7; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border: 0;
  background: url("https://cdn.glitch.com/138c3ef8-a9f5-4f67-bcb8-162413e4f03c%2FlogoSN.png?v=1583273670332");
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border: 0;
  background: url("https://cdn.glitch.com/138c3ef8-a9f5-4f67-bcb8-162413e4f03c%2FlogoSN.png?v=1583273670332");
  cursor: pointer;
}

/* The slider itself */
.slider2 {
  -webkit-appearance: none;
  width: 50%;
  height: 14px;
  border-radius: 8px;
  background: #d3d3d3;
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider2:hover {
  opacity: 0.7; /* Fully shown on mouse-over */
}

.slider2::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border: 0;
  background: url("https://cdn.glitch.com/138c3ef8-a9f5-4f67-bcb8-162413e4f03c%2FlogoWE.png?v=1583273675506");
  cursor: pointer;
}

.slider2::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border: 0;
  background: url("https://cdn.glitch.com/138c3ef8-a9f5-4f67-bcb8-162413e4f03c%2FlogoWE.png?v=1583273675506");
  cursor: pointer;
}

.score {
  margin-bottom: 15px;
  background-color: #d3d3d3;
  border-radius: 8px;
  /* (height of inner div) / 2 + padding */
  padding: 2px;
  width: 50%;
}

.scoreBar {
  background-color: #1c38ff;
  width: 40%;
  /* Adjust with JavaScript */
  height: 10px;
  border-radius: 8px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.sliderBtn {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.sliderBtn:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .sliderBtn {
  background-color: #2196F3;
}

input:focus + .sliderBtn {
  box-shadow: 0 0 0.5px #2196F3;
}

input:checked + .sliderBtn:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.sliderBtn.round {
  border-radius: 17px;
}

.sliderBtn.round:before {
  border-radius: 50%;
}
